[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "==1.5.0"
ray = "*"
jax = ">=0.2.8"
jaxlib = ">=0.1.58"
cvxpy = "*"
cvxpylayers = "*"


[requires]
python_version = "3.6"
