[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "==1.5.0"
cvxpy = "*"
cvxpylayers = "*"
comboptnet-module = {git = "ssh://git@github.com/martius-lab/CombOptNet.git@comboptnet-module"}
constraint-handler = {git = "ssh://git@github.com/martius-lab/CombOptNet.git@constraint-handler"}
smart-settings = {git = "ssh://git@github.com/martius-lab/smart-settings.git"}


[requires]
python_version = "3.6"
